@import '../../style/mixins.scss';

/*============= default style =================*/

.content-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    letter-spacing: 1.5px;

    .content-header-text {
        color: #C2C2C2;

        font-size: 36px;
        line-height: 42px;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content-num {
        color: #000;

        display: flex;
        flex-direction: column;

        font-size: 18px;
        line-height: 21px;
        margin-right: 10px;


        .content-num-underline {
            border: solid 2.5px #603EBE;

            margin-top: 4px;
            border-radius: 2px;
        }
    }
}

.content-wrapper {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
}



/* =========== device style =========*/
@include big-screen {}

@include desktop {}

//========== tablet =============
@include tablet {

    .content-header {
        margin-bottom: 20px;

        .content-header-text {
            font-size: 36px;
            line-height: 42px;
        }

        .content-num {

            font-size: 18px;
            line-height: 21px;

            .content-num-underline {
                margin-top: 4px;
                border-radius: 2px;
                border-width: 2.5px;
            }
        }
    }

    .content-wrapper {
        letter-spacing: 0em;
        font-size: 18px;
        line-height: 28px;

    }

    // }
}

@include break($tablet-smaller-size-px, $tablet-min-size-px) {


    .content-header {
        margin-bottom: 20px;

        .content-header-text {

            font-size: 5vw;
            line-height: 42px;
        }

        .content-num {

            font-size: 18px;
            line-height: 21px;

            .content-num-underline {
                margin-top: 4px;
                border-radius: 2px;
                border-width: 2.5px;
            }
        }
    }

    // }
}

//========== Mobile =============

@include mobile {
    .content-information {
        height: 100%;

        .content-container-wrapper {
            .content-container {
                padding: 60px $mobile-left-padding;

                .content-header {
                    margin-bottom: 10px;
                    letter-spacing: 1.5px;

                    .content-header-text {
                        font-size: 28px;
                        line-height: 33px;
                    }

                    .content-num {

                        font-size: 14px;
                        line-height: 16px;

                        .content-num-underline {
                            margin-top: 1px;
                            border-radius: 2px;
                            border-width: 2px;
                        }
                    }
                }
            }

            .content-wrapper {
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0em;
                margin-bottom: 5px;
            }
        }
    }
}

$mobile-small-size-px: $mobile-size - 10 + px;

@include break($mobile-small-size-px) {

    .content-header {
        .content-header-text {
            font-size: 8vw;
        }
    }

}

$mobile-smallest-size-px: $mobile-size - 60 + px;

@include break($mobile-smallest-size-px ) {

    .content-header {
        .content-header-text {
            font-size: 20px;
        }
    }

}

/*==============================*/

/*
    ======== theme style =========
*/
$theme-3: (
    header-color: #C2C2C2,
    number-color: #000000,
    color: #FFFFFF,
    underline-color: #FFFFFF,

);
$theme-4: (
    header-color: #C2C2C2,
    number-color: #8765DD,
    color: #FFFFFF,
    underline-color: #FFFFFF,
);

@mixin themable($theme-name, $theme-map) {
    .content-information {
        .#{$theme-name} .content {
            .content-header {
                .content-header-text {
                    color: map-get($theme-map, header-color);
                }

                .content-num {
                    color: map-get($theme-map, number-color);
                }

                .content-num-underline {
                    border-color: map-get($theme-map, underline-color);
                }

            }

            .content-wrapper {
                color: map-get($theme-map, color);
            }
        }
    }
}

@include themable(theme-3, $theme-3);
@include themable(theme-4, $theme-4);

/*
    ===============================
*/