@import '../../../share/style/mixins.scss';

.image-container {
    .image-container-wrapper {
        position: relative;

        .image-container-img {
            position: absolute;
            z-index: 100;
        }
    }
}

@include big-screen {
    .image-container {
        display: flex;
        justify-content: center;

        .image-container-wrapper {
            width: $desktop-size-px;
        }
    }
}

@include desktop {}

// @include tablet {
//     .image-container {
//         .image-container-wrapper {

//         }
//     }
// }

@include mobile {
    .image-container {
        .image-container-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            top: 15px;

            .image-container-img {
                position: absolute;
            }
        }
    }
}